{% extends 'base.html' %}
{% load static %}
{% block title %}
Images
{% endblock %}
{% block body %}
    <div class="text-center"><h1 class="center">Images of Frederic and the House</h1></div>
    <div class="container">
        <div class="row text-center d-flex py-1">
            <div class="col-4"><img src="{% static 'images/image1.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image2.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image3.jpg'%}" alt="Howard Painting" height="150"></div>
        </div>
        <div class="row text-center d-flex py-1">
            <div class="col-4"><img src="{% static 'images/image4.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image5.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image6.jpg'%}" alt="Howard Painting" height="150"></div>
        </div>
        <div class="row text-center d-flex py-1">
            <div class="col-4"><img src="{% static 'images/image7.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image9.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image10.jpg'%}" alt="Howard Painting" height="150"></div>
        </div>
        <div class="row text-center d-flex py-1">
            <div class="col-4"><img src="{% static 'images/image11.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image12.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image13.jpg'%}" alt="Howard Painting" height="150"></div>
        </div>
        <div class="row text-center d-flex py-1">
            <div class="col-4"><img src="{% static 'images/image14.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image15.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image16.jpg'%}" alt="Howard Painting" height="150"></div>
        </div>
        <div class="row text-center d-flex py-1">
            <div class="col-4"><img src="{% static 'images/image17.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image18.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-4"><img src="{% static 'images/image19.jpg'%}" alt="Howard Painting" height="150"></div>
        </div>
        <div class="row text-center d-flex py-1">
            <div class="col-6"><img src="{% static 'images/image20.jpg'%}" alt="Howard Painting" height="150"></div>
            <div class="col-6"><img src="{% static 'images/image21.jpg'%}" alt="Howard Painting" height="150"></div>
        </div>

    </div>
{% endblock %}